:root {
    --background-color: #ffffff;
    --game-size-width: 500px;
    --game-size-height: 500px;
}

body * {
    cursor: url("../img/pointer_01.png") 24 24, pointer;
    font-family: "VT323", monospace;
}

#container {
    width: var(--game-size-width);
    height: var(--game-size-height);
    overflow: hidden;
    position: relative;
}

#background {
    background: url("../img/background_01.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    animation: background-falldown 15s linear 0s infinite normal;
}

#hero {
    background: url("../img/hero_01.png") no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#laser {
    background: url("../img/laser_01.png") no-repeat center;
    background-size: cover;
    width: 9px;
    height: 25px;
    position: absolute;
}

.enemy {
    background: url("../img/enemy_01.png") no-repeat center;
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
}

#score {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

#gameover {
    color: #ff0000;
    font-size: 50px;
    visibility: hidden;
    z-index: 2;
    width: 180px;
    margin: 0 auto;
    padding-top: 180px;
}

#restart {
    color: #000000;
    font-size: 20px;
    visibility: hidden;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: yellow;
    border: none;
    position: absolute;
    left: 100px;
    margin-top: 5px;
}

#restart:focus {
    outline: 0;
}

@keyframes background-falldown {
    0% {
        top: -500px;
    }
    100% {
        top: 0px;
    }
}
