/**
///////////////////////////////////////////////////
start reset css
///////////////////////////////////////////////////
**/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
///////////////////////////////////////////////////
end reset css
///////////////////////////////////////////////////
**/

:root {
    --background-color: #ffffff;
    --game-size-width: 500px;
    --game-size-height: 500px;
    --yellow: #eef22a;
}

body * {
    font-family: "VT323", monospace;
}

.container {
    width: var(--game-size-width);
    height: var(--game-size-height);
    overflow: hidden;
    position: relative;
}

.background {
    background: url("./img/background_01.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    animation: background-falldown 15s linear 0s infinite normal;
}

.logo {
    color: white;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Faster One', cursive;
    font-size: 80px;
    position: absolute;
    left: 70px;
    top: 100px;
    z-index: 2;
    width: 360px;
    height: 150px;
    text-align: center;
    background-color: blue;
    box-sizing: border-box;
    border: 10px solid var(--yellow);
    border-radius: 0px;
    line-height: 60px;
    animation: go-away 1.1s ease-in 0s forwards normal;
}

.startButton {
    font-size: 40px;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: var(--yellow);
    border: none;
    position: absolute;
    left: 100px;
    top: 280px;
    text-align: center;
    animation: just-come-late 1.4s ease-in 0s forwards normal;
}

.startButton:hover {
    cursor: url("./img/pointer_01.png") 24 24, pointer;
}

.howToButton {
    font-size: 40px;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: yellow;
    border: none;
    position: absolute;
    left: 100px;
    top: 335px;
    text-align: center;
    animation: just-come-late 1.4s ease-in 0s forwards normal;
}

.howToButton:hover {
    cursor: url("./img/pointer_01.png") 24 24, pointer;
}

.recordButton {
    font-size: 40px;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: var(--yellow);
    border: none;
    position: absolute;
    left: 100px;
    top: 390px;
    text-align: center;
    animation: just-come-late 1.4s ease-in 0s forwards normal;
}

.recordButton:hover {
    cursor: url("./img/pointer_01.png") 24 24, pointer;
}

.menuFocus:before {
    content: "‣";
    position: absolute;
    left: 20px;
    color: red;
    animation: blinking 1s linear 0s infinite normal;
    font-size: 40px;
    font-family: "VT323", monospace;
}

.hero {
    background: url("./img/hero_01.png") no-repeat center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

.laser {
    background: url("./img/laser_01.png") no-repeat center;
    background-size: cover;
    width: 9px;
    height: 25px;
    position: absolute;
}

.enemy {
    background: url("./img/enemy_01.png") no-repeat center;
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
}

.score {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.pause {
    color: var(--yellow);
    font-size: 50px;
    position: absolute;
    left: 160px;
    top: 180px;
    z-index: 2;
    width: 180px;
    text-align: center;
    animation: blinking 1s linear 0s infinite normal;
}

.gameover {
    color: #ff0000;
    font-size: 70px;
    position: absolute;
    left: 120px;
    top: 110px;
    z-index: 2;
    width: 300px;
}

.rankin {
    color: var(--yellow);
    font-size: 70px;
    position: absolute;
    left: 150px;
    top: 175px;
    z-index: 2;
    width: 340px;
}

.newRecord {
    color: var(--yellow);
    font-size: 70px;
    position: absolute;
    left: 100px;
    top: 175px;
    z-index: 2;
    width: 340px;
}

.rank {
    color: var(--yellow);
    font-size: 70px;
    position: absolute;
    left: 80px;
    top: 230px;
    z-index: 2;
    width: 420px;
}

.howToPage {
    color: #ff0000;
    font-size: 50px;
    position: absolute;
    left: 140px;
    top: 50px;
    z-index: 2;
    width: 250px;
}

.howToPage .explanation {
    position: absolute;
    background-color: var(--yellow);
    width: 400px;
    height: 60px;
}

.howToPage .explanation.howToShoot {
    top: 70px;
    left: -85px;
}

.howToPage .explanation.howToShoot:before {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    height: 60px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.howToPage .explanation.howToShoot:after {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 60px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}


.howToPage .explanation.howToMove {
    top:160px;
    left: -85px;
}

.howToPage .explanation.howToMove:before {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    height: 60px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.howToPage .explanation.howToMove:after {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 60px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.howToPage .explanation.howToPause {
    width: 440px;
    top: 245px;
    left: -105px;
    height: 66px;
}

.howToPage .explanation.howToPause:before {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    height: 66px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.howToPage .explanation.howToPause:after {
    content: "";
    background-color: #eef22a;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    height: 66px;
    width: 5px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.howToPage .explanation > div {
    position: absolute;
}

.howToPage .explanation .howToShoot {
    left: 45px;
    top: 3px;
}

.howToPage .explanation .howToMove {
    left: 45px;
    top: 3px;
}

.howToPage .explanation .howToPause {
    font-size: 45px;
    left: 11px;
    top: 8px;
}

.recordPage {
    color: #ff0000;
    font-size: 50px;
    position: absolute;
    left: 190px;
    top: 50px;
    z-index: 2;
    width: 250px;
}

.recordBoard {
    position: absolute;
    left: -140px;
    top: 55px;
    width: 400px;
    height: 280px;
    background-color: blue;
    box-sizing: border-box;
    border: 2px solid var(--yellow);
}

.recordBoard ul li {
    height: 55.5px;
    background-color: blue;
    color: var(--yellow);
    box-sizing: border-box;
    border-bottom: 1px solid var(--yellow);
    text-align: center;
}

.playAgain {
    font-size: 40px;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: var(--yellow);
    border: none;
    position: absolute;
    left: 100px;
    top: 330px;
    text-align: center;
}

.playAgain:hover {
    cursor: url("./img/pointer_01.png") 24 24, pointer;
}

.playAgain:focus {
    outline: 0;
}

.backToStart {
    font-size: 40px;
    border-radius: 10px;
    line-height: 40px;
    width: 300px;
    z-index: 2;
    background-color: blue;
    color: var(--yellow);
    border: none;
    position: absolute;
    left: 100px;
    text-align: center;
    top: 400px;
}

.backToStart:hover {
    cursor: url("./img/pointer_01.png") 24 24, pointer;
}

.backToStart:focus {
    outline: 0;
}

.animation-run {
    animation-play-state: running;
}

.animation-paused {
    animation-play-state: paused;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes background-falldown {
    0% {
        top: -500px;
    }
    100% {
        top: 0px;
    }
}

@keyframes go-away {
    0% {
        /* transform: perspective(3px) rotateX(20deg); */
        top: 550px;
    }
    100% {
        /* transform: perspective(200px) rotateX(0deg); */
        top: 100px;
    }
}

@keyframes just-come-late {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}